<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${ad.title}"></title>
    <link href="/css/materialize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="container">
    <ul>
        <li>
            <h4 th:text="${ad.title}"/>
        </li>
        <li>
            <text th:text="${ad.price}"/> р
        </li>
        <li>
            <text th:text="${ad.description}"/>
        </li>
        <li>
            <a th:href="${ad.originalUrl}">Оригинальное объявление</a>
        </li>
    </ul>

    <h6>Похожие объявления</h6>
    <ul>
        <li th:each="similarUrl : ${ad.getSimilarAds()}">
            <a th:href="${similarUrl}" th:text="${similarUrl}"></a>
        </li>
    </ul>

</div>
</body>
</html>
